## Josiah V. Awa-ao
## 300387622

In [5]:
import pandas as pd

In [9]:
df = pd.read_csv('Lab1_cleaned_JAw622.csv')
df.head()

,year,transmission,mileage,fuel_type,tax,price,mpg,engine_size,make,model
0,2019.0,manual,12051.000000,petrol,145.0,12998.0,39.2,1.4,vauxhall,_mokka_x
1,2017.0,manual,14942.000000,petrol,200.0,10340.0,42.2,1.6,vauxhall,_mokka_x
2,2017.0,automatic,52045.000000,diesel,20.0,13640.0,67.3,2.1,merc,_b_class
3,2016.0,manual,22797.000000,petrol,20.0,7999.0,64.2,1.0,volkswagen,_up
4,2020.0,semi_auto,1538.844002,diesel,145.0,26990.0,65.7,2.0,bmw,_4_series

In [22]:
# display column information
print(df.dtypes)

year            float64
transmission     object
mileage         float64
fuel_type        object
tax             float64
price           float64
mpg             float64
engine_size     float64
make             object
model            object
dtype: object

In [16]:
# display summary of data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69544 entries, 0 to 69543
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          69544 non-null  float64
 1   transmission  69544 non-null  object
 2   mileage       69544 non-null  float64
 3   fuel_type     69544 non-null  object
 4   tax           69544 non-null  float64
 5   price         69544 non-null  float64
 6   mpg           69544 non-null  float64
 7   engine_size   69544 non-null  float64
 8   make          69544 non-null  object
 9   model         68609 non-null  object
dtypes: float64(6), object(4)
memory usage: 5.3+ MB

In [29]:
df.describe(percentiles=[0.01, 0.25, 0.5, 0.75, 0.99])

detailed_summary

,year,mileage,tax,price,mpg,engine_size
count,69544.000000,69544.000000,69544.000000,69544.000000,69544.000000,69544.000000
mean,2017.057287,23440.985431,119.994248,17252.313097,54.825492,1.694596
std,2.138476,21320.457315,64.443977,10121.326910,16.449080,0.569404
min,1970.000000,1.000000,0.000000,450.000000,0.300000,0.000000
1%,2010.000000,11.000000,0.000000,3995.000000,29.700000,1.000000
25%,2016.000000,7761.750000,125.000000,10390.000000,46.300000,1.400000
50%,2017.000000,17890.000000,145.000000,14990.000000,54.300000,1.600000
75%,2019.000000,32793.250000,145.000000,21450.000000,62.725000,2.000000
99%,2020.000000,97000.000000,270.000000,53773.940000,85.600000,3.000000
max,2024.000000,323000.000000,580.000000,159999.000000,470.800000,6.300000

# d. Analyze and display some interesting information

In [38]:
# display the record where price is maximum
max_price =  df.loc[df['price'].idxmax()]

print(max_price)

year               2020.0
transmission    semi_auto
mileage            1350.0
fuel_type          petrol
tax                 145.0
price            159999.0
mpg                  21.4
engine_size           4.0
make                 merc
model            _g_class
Name: 7138, dtype: object

In [40]:
# display the record where mileage is maximum
max_mileage =  df.loc[df['mileage'].idxmax()]

print(max_mileage)

year              2008.0
transmission      manual
mileage         323000.0
fuel_type         diesel
tax                200.0
price             2490.0
mpg                 44.1
engine_size          2.0
make                audi
model                _a6
Name: 57206, dtype: object

In [42]:
# display the record where mpg is maximum

max_mpg = df.loc[df['mpg'].idxmax()]

print(max_mpg)

year               2015.0
transmission    automatic
mileage           59000.0
fuel_type           other
tax                   0.0
price             14940.0
mpg                 470.8
engine_size           0.6
make                  bmw
model                 _i3
Name: 734, dtype: object